body {
color: black;
font-family: tahoma, serif;
background-color: white;
}
p {
	color:black;
	text-align: justify;
}
body h1 {
	color:black;
	text-align:center;
	font-family: helvetica;
}
header h1{
color: red;
text-align: center;
}
nav {
	display: flex;
	justify-content: center;
	align-items: center;
}
ul{
	list-style: none;
}
li a{
	background-color: black;
	color:white;
	display: inline-block;
	padding: 15px;
	text-decoration:none;
}
li{
	float:left;
}
li a:hover {
    background: #444;
		color: red;
    }
article {
	width: 60%;
	float: left;
}
aside{
	margin-top: 12%;
	margin-left: 40px;
	width: 35%;
	float: left;
}
footer{
	width: 100%;
	float: left;
}
#pone{
	text-align: left;
}
#kaido{
	text-align: center;
}
.imagen {
	width: 100%;
}
.buscador{
	text-align: right;
	margin-top: 18%;
}
.imatge_aside{
	width: 90%;
}
/* pagina luffy */
body.luffy{
	color:white;
	background-image: url(http://www.kodul.cat/look/full/44/449003/luffy-live-wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
h1.luffy{
	color:yellow;
}
p.luffy{
	color:white;
}
li a.luffy:hover {
    background: #444;
		color: yellow;
}
article.luffy{
	margin-bottom: 10%;
}
#luffy{
	color:white;
}
